{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-5" style="max-width:800px">
    <div class="card card-body">
        <h5>Are you sure you want to delete <strong style="color:red">"{{task}}"</strong></h5>
        <form method="POST" class="">
            {% csrf_token %}
            <a class="btn btn-md btn-info" href="{% url 'task_list' %}">cancel</a>
            <button class="btn btn-danger btn-md" type="submit">Delete</button>
        </form>
    </div>
</div>

{% endblock %}



